<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User</title>

    <link rel="stylesheet" type="text/css" href="style.css">



</head>

<body>
<h1>Hii</h1>
   <form>

    <table class="center" >

        <th>USERNAME</th><th>TECHNOLOGY</th><th>ACTION</th>

        <tr>

            <td>

                dfghjk

            </td>

            <td>

                nm

            </td>

            <td>

                vbnm

            </td>

        </tr>

       

    </table>
</form>
</body>

</html>